<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />


<div class="panel-container">
    <span class="overlay"></span>
    <div class="container">
        <div th:replace="partials/panel :: left-panel" />

        <div class="text-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Dane Miller</a></li>
                <li class="breadcrumb-item active">Add Bill</li>
            </ol>
        </div>


        <form  id="bill-form" name="merchant-form" class="col-12 col-lg-6 mx-auto" method="post" th:action="@{~/bill/add}"  th:object="${bill}">

            <ul id="progressbar" class="text-center">
                <li class="active">Basics</li>
                <li>Address Info</li>
                <li>Details</li>
                <li>Confirm</li>

            </ul>

            <fieldset class="card">
                <div class="card-header"><p>Basics</p>
                    <span class="text-muted">If you want to track who you owe specifically</span></div>
                <div class="card-body">
                    <div class="form-group">
                        <label th:for="*{merchant.name}">
                            <p>Merchant</p>
                        </label>
                        <input type="text" class="form-control" th:field="*{merchant.name}" placeholder="Bill Me Merchant">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label  th:for="*{payment}">Payment Amount</label>
                            <input type="text" class="form-control"  th:field="*{payment}">
                        </div>
                        <div class="form-group col-md-4">
                            <label th:for="*{frequency.id}">Pay Frequency</label>
                            <select th:field="*{frequency.id}" class="form-control">
                                <option th:each="f : ${payFreq}" th:value="${f.id}" th:text="${f.name}">frequency</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label  th:for="*{dueDate}">Next due date</label>
                            <input type="text" class="form-control"  th:field="*{dueDate}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 mx-auto">
                            <label th:for="*{category.id}">Category</label>
                            <select th:field="*{category.id}"  class="form-control">
                                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">Category</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="button" name="next" class=" btn btn-primary next action-button" value="Next"/>
                    </div>
                </div>
            </fieldset>

            <fieldset  class="card">
                <div class="card-header">
                    <p>Address Info</p>
                    <span class="text-muted">If you want to track who you owe specifically</span>
                </div>

                <div class="card-body">
                <div class="form-group">
                    <label th:for="*{merchant.address.title}">Addressed To</label>
                    <input type="text" class="form-control"  th:field="*{merchant.address.title}"  placeholder="Business C/O Place">
                </div>
                <div class="form-group">
                    <label th:for="*{merchant.address.street}">Address</label>
                    <input type="text" class="form-control"  th:field="*{merchant.address.street}" placeholder="123 8th Street APT #4">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:for="*{merchant.address.city}">City</label>
                        <input type="text" class="form-control" th:field="*{merchant.address.city}" >
                    </div>
                    <div class="form-group col-md-4">
                        <label th:for="*{merchant.address.state.id}">State</label>
                        <select th:field="*{merchant.address.state.id}"  class="form-control">
                            <option th:each="s : ${states}" th:value="${s.id}" th:text="${s.name}">Texas</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label th:for="*{merchant.address.zipCode}">Zip</label>
                        <input type="text" class="form-control" th:field="*{merchant.address.zipCode}">
                    </div>
                </div>

                    <div class="text-center">
                        <input type="button" name="previous" class=" btn btn-primary previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class=" btn btn-primary next action-button" value="Next"/>
                    </div>
                </div>
            </fieldset>


            <fieldset  class="card">
                <div class="card-header">
                    <p>Details</p>
                    <span class="text-muted">Just a bit more (optional) info...</span>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label th:for="*{merchant.website}" >Website URL</label>
                        <input type="text" class="form-control" th:field="*{merchant.website}" placeholder="http://billpayonline.com/login">
                    </div>
                    <div class="form-group">
                        <label th:for="*{merchant.websiteUsername}">Username</label>
                        <input type="text" class="form-control" th:field="*{merchant.websiteUsername}" placeholder="PersonalUsername101">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label th:for="*{interestRate}" >Interest Rate</label>
                            <input type="text" class="form-control" th:field="*{interestRate}" placeholder="11.2%">
                        </div>
                        <div class="form-group col-md-4">
                            <label th:for="*{interestType}">Interest Type </label>
                            <select th:field="*{interestType}"  name="interestType" class="form-control">
                                <option  value="None" selected>Choose...</option>
                                <option  value="Compound" >Compound</option>
                                <option  value="Simple" >Simple</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label th:for="*{totalOwed}" >Total Owed:</label>
                            <input type="text" class="form-control"  th:field="*{totalOwed}" >
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="button" name="previous" class=" btn btn-primary previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class=" btn btn-primary next action-button" value="Next"/>
                    </div>
                </div>
            </fieldset>


            <fieldset  class="card">
                <div class="card-header">
                    <p>Confirm</p>
                    <span class="text-muted">Hey! Does all your information match?</span>
                </div>

                <div class="card-body text-left">

                    <div class="pb-3">
                        <h4>Basics</h4>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Merchant:</div>
                            <div class="col-md-6" id="merchant-name">Merchant Name</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">  Payment Info:</div>
                            <div class="col-md-6"><span id="payment-amount">$156.56</span> (<span id="payment-freq">Twice a Month</span>)</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Next Due Date:</div>
                            <div class="col-md-6" id="due-date">Nov 3rd 2018</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold" >Category</div>
                            <div class="col-md-6" id="payment-category">Other</div>
                        </div>


                    </div>
                    <div class="pb-3">
                        <h4>Address Info</h4>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Address:</div>

                            <div class="col-md-6">

                                <div class="col-md-12 p-0" id="addressee">J/W Piping C/O Saddie Hawkins</div>
                                <div class="col-md-12 p-0" id="address">7822 Misty Fried Dr</div>
                                <div class="col-md-12 p-0"><span id="city">San Antonio</span>, <span id="state">Texas</span>
                                    <span class="zip-code">78209-2203</span></div>

                            </div>
                        </div>


                    </div>
                    <div class="pb-3">

                        <h4>Details</h4>


                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Website:</div>
                            <div class="col-md-6" id="website">http://website.com/login</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Website Username:</div>
                            <div class="col-md-6" id="webUsername">bestGurl101</div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Interest:</div>
                            <div class="col-md-6"><span id="bill-interestRate">11.2%</span> (<span id="bill-interestType">Compound</span>)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Total Owed:</div>
                            <div class="col-md-6"><span id="bill-totalOwed">$11,545.02</span></div>
                        </div>

                    </div>

                    <div class="text-center">
                        <input type="button" name="previous" class=" btn btn-primary previous action-button-previous" value="Previous"/>
                        <input type="submit" name="submit"  class=" btn btn-primary submit action-button" value="Yeah!"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/form.js}"></script>
</body>
</html>
