/*
Main StyleSheet
*/

/* PRELOADER START */
body {
    overflow: hidden;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #262626; /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url("../img/loader.svg"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.splash-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    background: url("../img/header.jpg");
    background-size: cover;
    background-position:center;

}

.navbar {
    padding-top: 12px;
    padding-bottom: 10px;
}


.bg-dark {
    background-color: #343a4096 !important;
}
.navbar-footer {
    padding: 10px;
}

.header-action-icon {
    font-size: 22px;
    color: #fff;
}

.btn-primary a {
    color: #fff;
    font-size: 12px;
}


.badge-alert {
    position: relative;
    font-size: 10px;
    top: -17px;
    left: 34px;
}