/*
Main StyleSheet
*/

/* PRELOADER START */
body {
    overflow: hidden;
    background: #F5F5F5;
}

.container {
    padding-bottom: 80px;
    padding-top: 10px;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #262626; /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url("../img/loader.svg"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.splash-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px);
    background: url("../img/header.jpg");
    background-size: cover;
    background-position:center;

}

.navbar {
    padding-top: 12px;
    padding-bottom: 10px;
    border: 0;
}


.bg-dark {
    background-color: #343a4096 !important;
}
.navbar-footer {
    padding: 10px;
}

.navbar-header {
    /*background: rgba(147,206,222,1);*/
    /*background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );*/


    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    -webkit-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -moz-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -o-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;

}

.header-action-icon {
    font-size: 22px;
    color: #fff;
}

.btn-primary a {
    color: #fff;
    font-size: 12px;
}


.btn-sm, .btn-group-sm>.btn {
    padding-left: 10px;
}


.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}



button .btn-primary {
    padding-bottom: 35px;
}


.badge-alert {
    position: relative;
    font-size: 10px;
    top: -17px;
    left: 34px;
}


.card {
    height: 100%;
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    -webkit-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -moz-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -o-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -webkit-border-radius: 0.4167rem;
    -moz-border-radius: 0.4167rem;
    -ms-border-radius: 0.4167rem;
    -o-border-radius: 0.4167rem;
    border-radius: 0.4167rem;

    border: 0;
}

.card:hover{
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.13) !important;
    -webkit-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -moz-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -o-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}



.dropdown-menu .icon{
    font-size: 40px;
    color: rgb(218, 45, 26);
}
.dropdown-menu p  {
    margin-bottom: 2px;
}

.dropdown-menu .title {
    color: black;
    font-weight: bold;
}


.dropdown-menu .time {
    color: #912320;
}


.notification a {
    text-decoration: none;
}

.notification li:nth-child(even) {
    background-color: #f7f7f7;

}

.notification li:hover {
    background-color: #ebebeb;

}

.bg-dark-gradient {
 background: linear-gradient(135deg, #4f5b60 0%, #97a9b2 100%);
}

.bg-blue-gradient {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

.bg-green-gradient {
    background: linear-gradient(135deg, #28C76F 0%, #81FBB8 100%);
}

.bg-amber-gradient {
    background: linear-gradient(135deg, #EA5455 0%, #FC9131 100%);
}

.bg-red-gradient {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.big-icon {
  font-size:  50px;
}

.card-text-amount {
    font-size: 25px;
    display: block;

}


element.style {
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    padding: 0;
}

.dropdown-menu .list-group-item {
    border: 0px;
}

.tag-button {
    background-color: rgba(133, 4, 0, 0.72);
    border: 3px solid #fff;
    color: #fff;
    border-radius: 25px;
    width: 250px;
    height:50px;
    line-height: 40px;
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
    box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
}

.tag-button:hover {
    background-color: rgba(200,0,0,0.75);
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    cursor: pointer;

}

.tag-button a {
    color: #fff;
    text-decoration: none;
}