<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />

<div class="splash-container text-center d-flex align-items-center justify-content-center">
            <button class="tag-button m-3 hvr-pulse">Organize your Financial Future!</button>
</div>

<div th:replace="partials/layout :: footer" />
</body>
</html>