<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />


<span class="overlay"></span>
<div class="container mx-auto">



    <div class="row">

        <div class="text-left mr-auto">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Dane Miller</a></li>
                <li class="breadcrumb-item active" th:text="${account.name}">Account Name </li>
            </ol>
        </div>

        <div class="text-right">
            <button class="btn btn-info"  id="sync-transactions-btn">Sync Recent</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pb-4">
            <div class="card">

                <div class="card-header">
                    <div class="row">
                        <div>
                            <h3> <span th:text="${account.officialName}"></span>
                                <span th:text="'x' + ${account.mask}"></span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                <div class="row">
                        <div class="col-md-6">
                           <strong>Available Bal: </strong> <span th:text="${account.balances.available}"></span>
                        </div>
                        <div class="col-md-6">
                            <strong>Current Bal:</strong> <span th:text="${account.balances.current}"></span>
                        </div>
                </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 pb-4">

            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary m-2">View Spending Analysis</button>
                    <button class="btn btn-secondary m-2">Other thing </button>
                </div>
            </div>

        </div>

    </div>

    <div class="card">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="d-none d-sm-table-cell sticky-header">Merchant</th>
            <th class="sticky-top">Amount</th>
            <th class="sticky-top">Category</th>

        </tr>
        </thead>
        <tbody>

        <th:block th:each="t : ${transactions}">
                <tr class="transaction"  th:data-id="${t.id}">

                    <td><p>
                        <a th:href="@{~/transaction/view/} + ${t.id}" th:text="${t.name}"></a></p>
                        <span class="text-muted" th:text="${t.date} ">Since 05/01/2012</span>
                    </td>
                    <td ><span th:text="'$' + ${#numbers.formatDecimal(t.amount, 0, 'COMMA', 2, 'POINT')}">$114.00</span>

                    </td>
                    <td class="pl-4 d-none d-sm-table-cell">
                        <th:block th:each="c : ${t.category}">
                            <span th:text="${c}"></span>,
                        </th:block>
                    </td>
                </tr>

        </th:block>



        </tbody>
    </table>
    </div>

    <!--<div class="box">-->
    <!--<button id="get-transactions-btn">Get Transactions</button>-->
    <!--<div id="get-transactions-data"></div>-->
    <!--</div>-->
    <!--</div>-->

</div>

<div th:replace="partials/layout :: footer" />

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<script th:inline="javascript">
    const PLAID_ENV = [[${PLAID_ENV}]];
    const PLAID_PUBLIC_KEY = [[${PLAID_PUBLIC_KEY}]];
</script>
<script th:src="@{~/built/plaid.js}"></script>
</body>
</html>
