
.cal-1 {
    width: 14.28%;
    border-right: 1px solid #a7a3a7;
    border-top: 1px solid #b8b6b8;
    text-align: right;
    height: 50px;
    line-height: 6;
    padding-right: 9px;
}

.cal-1:hover {
    background-color: #e6e6e6;
}

.next-month, .prev-month {
    cursor: pointer;
}

.next-month:hover, .prev-month:hover {
    cursor: pointer;
    color: #00B4DB;
}
.cal-title {
    font-weight: bold;
}

.cal-header {
   background-color: #eaecef;
    padding: 0px;

}

.cal-row .cal-1:last-child {
    border-right: 0;
}


.calendar-body {
    margin-left:15px;
    margin-right:15px;
}

.calendar-body .cal-row:last-child {
    border-bottom: 0;
}